MvcApplication2/obj/*
*.rar
*.xls
MvcApplication2/attachments/08ab9f5f-418b-49eb-bebe-27f42aa4a7c8_keto.jpg
*.pdf
*.dll
MvcApplication2/Web_2.config
MvcApplication2/Web_3.config
MvcApplication2/Views/IssuedItem.zip
# User-specific files
*.suo
*.pdb
*.user
*.userosscache
*.sln.docstates
*.pubxml.user

.DS_Store
._*
_ReSharper*/
[Rr]elease*/
Debug
bin
TestResults/
services/
