MvcApplication2/obj/*
*.rar
*.xls
MvcApplication2/attachments/08ab9f5f-418b-49eb-bebe-27f42aa4a7c8_keto.jpg
*.pdf
*.dll
*.pdb
MvcApplication2/Web_2.config
MvcApplication2/Web_3.config
*.txt
*.cache
*.suo
DataService/bin/Debug/DataService.dll.config
DataService/obj/Debug/edmxResourcesToEmbed/PEModel.csdl
DataService/obj/Debug/edmxResourcesToEmbed/PEModel.msl
DataService/obj/Debug/edmxResourcesToEmbed/PEModel.ssdl
MvcApplication2/bin/MvcApplication2.dll.config
MvcApplication2/bin/Newtonsoft.Json.xml
