@{
    
    Layout = "~/Views/Shared/_InvLayoutPage.cshtml";
}
<div class="row">
    <div class="large-12 small-12 large-nomargin small-nomargin" style="top:0px;  height:auto;background-color:#F5F5F5; z-index:15;left:0px;" id="fixedheader1">
       
    </div>
</div>
<style>
    .top-bar {
    background:#374659;
    }
    .top-bar-section .dropdown li:hover {
        background:#999;
    } 
</style>