@model String

<div class=" panel panel-default">
    <div class="panel-heading">
        <div class="panel-title-box">
            <h3 class="panel-title">Message:</h3>
        </div>
    </div>

    <div class="panel-body ">
        <div class="@ViewBag.ClassToApply">@Model</div>
    </div>
</div>
